# O3 Database Configuration
O3_DRIVER={ODBC Driver 17 for SQL Server}
O3_SERVER=localhost
O3_DATABASE=O3
O3_SCHEMA=dbo
O3_AUTH=SQL
O3_USERID=sa
O3_PASSWORD=your_password_here
O3_ENCRYPT=yes
O3_TRUSTSERVERCERTIFICATE=no

# Aura Database Configuration
AURA_DRIVER={ODBC Driver 17 for SQL Server}
AURA_SERVER=localhost
AURA_DATABASE=Aura
AURA_SCHEMA=dbo
AURA_AUTH=SQL
AURA_USERID=sa
AURA_PASSWORD=your_password_here
AURA_ENCRYPT=yes
AURA_TRUSTSERVERCERTIFICATE=no
